USE [master]
GO
/****** Object:  Database [BANANITOS]    Script Date: 16/11/2016 14:05:29 ******/
CREATE DATABASE [BANANITOS] ON  PRIMARY 
( NAME = N'BANANITOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MXCAT\MSSQL\DATA\BANANITOS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BANANITOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MXCAT\MSSQL\DATA\BANANITOS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BANANITOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BANANITOS]
GO
/****** Object:  User [jorge]    Script Date: 16/11/2016 14:05:29 ******/
CREATE USER [jorge] FOR LOGIN [jorge] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [christian]    Script Date: 16/11/2016 14:05:29 ******/
CREATE USER [christian] FOR LOGIN [christian] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [brayan]    Script Date: 16/11/2016 14:05:29 ******/
CREATE USER [brayan] FOR LOGIN [brayan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alejandro]    Script Date: 16/11/2016 14:05:29 ******/
CREATE USER [alejandro] FOR LOGIN [alejandro] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'alejandro'
GO
/****** Object:  UserDefinedFunction [dbo].[RemoveChars]    Script Date: 16/11/2016 14:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[RemoveChars](@Input varchar(1000))
RETURNS VARCHAR(1000)
BEGIN
  DECLARE @pos INT
  SET @Pos = PATINDEX('%[^0-9]%',@Input)
  WHILE @Pos > 0
   BEGIN
    SET @Input = STUFF(@Input,@pos,1,'')
    SET @Pos = PATINDEX('%[^0-9]%',@Input)
   END
  RETURN @Input
END

GO
/****** Object:  UserDefinedFunction [dbo].[RemoveCharsv2]    Script Date: 16/11/2016 14:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[RemoveCharsv2](@Input varchar(1000))
RETURNS VARCHAR(1000)
BEGIN
  DECLARE @pos INT
  SET @Pos = PATINDEX('%[^1-9]%',@Input)
  WHILE @Pos > 0
   BEGIN
    SET @Input = STUFF(@Input,@pos,1,'')
    SET @Pos = PATINDEX('%[^1-9]%',@Input)
   END
  RETURN @Input
END

GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 16/11/2016 14:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[COD_CAT] [char](5) NOT NULL,
	[NOM_CAT] [varchar](50) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[COD_CAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 16/11/2016 14:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[COD_CLI] [varchar](10) NOT NULL,
	[NOM_CLI] [varchar](50) NULL,
	[APE_CLI] [varchar](50) NULL,
	[FONO_CLI] [varchar](12) NULL,
	[DNI_CLI] [char](8) NULL,
	[RUC_CLI] [char](11) NULL,
	[SEXO_CLI] [char](1) NULL,
	[COD_DIST] [int] NULL,
	[DIRE_CLI] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CLI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DISTRITOS]    Script Date: 16/11/2016 14:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISTRITOS](
	[COD_DIST] [int] NOT NULL,
	[NOM_DIST] [varchar](50) NULL,
 CONSTRAINT [PK_DISTRITOS] PRIMARY KEY CLUSTERED 
(
	[COD_DIST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 16/11/2016 14:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[COD_EMP] [varchar](10) NOT NULL,
	[NOM_EMP] [varchar](50) NULL,
	[APE_EMP] [varchar](50) NULL,
	[DIREC_EMP] [varchar](100) NULL,
	[COD_DIST] [int] NULL,
	[DNI_EMP] [char](8) NULL,
	[FEC_NAC_EMP] [date] NULL,
	[FEC_CON_EMP] [date] NULL,
	[USUARIO] [varchar](100) NULL,
	[PASS] [varchar](20) NULL,
	[ESTADO_CIVIL_EMP] [char](1) NULL,
	[SEXO_EMP] [char](1) NULL,
	[FOTO_EMP] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_EMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 16/11/2016 14:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[COD_PRO] [varchar](10) NOT NULL,
	[NOM_PRO] [varchar](100) NULL,
	[PRE_U_PRO] [money] NULL,
	[STOCK_PRO] [int] NULL,
	[ESTADO] [char](1) NULL,
	[COD_CAT] [char](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO]    Script Date: 16/11/2016 14:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO](
	[COD_TIPO] [char](5) NOT NULL,
	[NOM_TIPO] [varchar](50) NULL,
	[COD_CAT] [char](5) NULL,
 CONSTRAINT [PK_TIPO] PRIMARY KEY CLUSTERED 
(
	[COD_TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTA_CABECERA]    Script Date: 16/11/2016 14:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENTA_CABECERA](
	[COD_CABE] [char](7) NOT NULL,
	[COD_CLI] [varchar](10) NULL,
	[NOMBRE] [varchar](100) NULL,
	[FECHA_CABE] [date] NULL,
	[TOTAL] [money] NULL,
	[COD_EMP] [varchar](10) NULL,
 CONSTRAINT [PK_VENTA_CABECERA] PRIMARY KEY CLUSTERED 
(
	[COD_CABE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTA_DETALLE]    Script Date: 16/11/2016 14:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENTA_DETALLE](
	[COD_CABE] [char](7) NULL,
	[COD_PRO] [varchar](10) NULL,
	[CANTI_DET] [int] NULL,
	[PARCIAL] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CATEGORIA] ([COD_CAT], [NOM_CAT]) VALUES (N'CA001', N'CALZADOS')
INSERT [dbo].[CATEGORIA] ([COD_CAT], [NOM_CAT]) VALUES (N'CA002', N'PRENDAS')
INSERT [dbo].[CATEGORIA] ([COD_CAT], [NOM_CAT]) VALUES (N'CA003', N'ACCESORIOS')
INSERT [dbo].[CLIENTES] ([COD_CLI], [NOM_CLI], [APE_CLI], [FONO_CLI], [DNI_CLI], [RUC_CLI], [SEXO_CLI], [COD_DIST], [DIRE_CLI]) VALUES (N'C1', N'Kevin', N'Gamero Castillo', N'955868777', N'95863258', N'           ', N'H', 2, N'calle buenos aires 154')
INSERT [dbo].[CLIENTES] ([COD_CLI], [NOM_CLI], [APE_CLI], [FONO_CLI], [DNI_CLI], [RUC_CLI], [SEXO_CLI], [COD_DIST], [DIRE_CLI]) VALUES (N'C10', N'Rocio', N'Colque Hallasi', N'784564588', N'10234545', NULL, N'F', 2, N'Calle Colmena 154')
INSERT [dbo].[CLIENTES] ([COD_CLI], [NOM_CLI], [APE_CLI], [FONO_CLI], [DNI_CLI], [RUC_CLI], [SEXO_CLI], [COD_DIST], [DIRE_CLI]) VALUES (N'C11', N'Julian', N'Ramirez Cordova', N'456489125', N'12345788', NULL, N'H', 3, N'Calle Conceco 154')
INSERT [dbo].[DISTRITOS] ([COD_DIST], [NOM_DIST]) VALUES (1, N'Arequipa')
INSERT [dbo].[DISTRITOS] ([COD_DIST], [NOM_DIST]) VALUES (2, N'Alto Selva Alegre')
INSERT [dbo].[DISTRITOS] ([COD_DIST], [NOM_DIST]) VALUES (3, N'Cayma')
INSERT [dbo].[EMPLEADOS] ([COD_EMP], [NOM_EMP], [APE_EMP], [DIREC_EMP], [COD_DIST], [DNI_EMP], [FEC_NAC_EMP], [FEC_CON_EMP], [USUARIO], [PASS], [ESTADO_CIVIL_EMP], [SEXO_EMP], [FOTO_EMP]) VALUES (N'EMP2', N'Brayan', N'Arana', N'Calle Buenos aires', 3, N'95862365', CAST(0x13210B00 AS Date), CAST(0x1C3A0B00 AS Date), N'arana', N'12345', N'D', N'H', NULL)
INSERT [dbo].[EMPLEADOS] ([COD_EMP], [NOM_EMP], [APE_EMP], [DIREC_EMP], [COD_DIST], [DNI_EMP], [FEC_NAC_EMP], [FEC_CON_EMP], [USUARIO], [PASS], [ESTADO_CIVIL_EMP], [SEXO_EMP], [FOTO_EMP]) VALUES (N'EMP3', N'Julio', N'Ramos Aragana', N'Calle Alameda 154', 1, N'12345678', CAST(0x8E150B00 AS Date), CAST(0x123C0B00 AS Date), N'julio', N'159753', N'S', N'H', NULL)
INSERT [dbo].[PRODUCTOS] ([COD_PRO], [NOM_PRO], [PRE_U_PRO], [STOCK_PRO], [ESTADO], [COD_CAT]) VALUES (N'P1', N'BOTAS LARGAS DE MUJER', 159.0000, 50, N'A', N'CA001')
INSERT [dbo].[PRODUCTOS] ([COD_PRO], [NOM_PRO], [PRE_U_PRO], [STOCK_PRO], [ESTADO], [COD_CAT]) VALUES (N'P10', N'ZAPATOS', 98.0000, 50, N'A', N'CA001')
INSERT [dbo].[PRODUCTOS] ([COD_PRO], [NOM_PRO], [PRE_U_PRO], [STOCK_PRO], [ESTADO], [COD_CAT]) VALUES (N'P11', N'SANDALIAS CASUAL', 25.5000, 50, N'A', N'CA001')
INSERT [dbo].[TIPO] ([COD_TIPO], [NOM_TIPO], [COD_CAT]) VALUES (N'T0001', N'BOTAS', N'CA001')
INSERT [dbo].[TIPO] ([COD_TIPO], [NOM_TIPO], [COD_CAT]) VALUES (N'T0002', N'ZAPATOS', N'CA001')
INSERT [dbo].[TIPO] ([COD_TIPO], [NOM_TIPO], [COD_CAT]) VALUES (N'T0003', N'SANDALIAS', N'CA001')
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_DISTRITOS] FOREIGN KEY([COD_DIST])
REFERENCES [dbo].[DISTRITOS] ([COD_DIST])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_DISTRITOS]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADOS_DISTRITOS] FOREIGN KEY([COD_DIST])
REFERENCES [dbo].[DISTRITOS] ([COD_DIST])
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FK_EMPLEADOS_DISTRITOS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_CATEGORIA] FOREIGN KEY([COD_CAT])
REFERENCES [dbo].[CATEGORIA] ([COD_CAT])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_CATEGORIA]
GO
ALTER TABLE [dbo].[TIPO]  WITH CHECK ADD  CONSTRAINT [FK_TIPO_CATEGORIA] FOREIGN KEY([COD_CAT])
REFERENCES [dbo].[CATEGORIA] ([COD_CAT])
GO
ALTER TABLE [dbo].[TIPO] CHECK CONSTRAINT [FK_TIPO_CATEGORIA]
GO
ALTER TABLE [dbo].[VENTA_CABECERA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_CABECERA_CLIENTES] FOREIGN KEY([COD_CLI])
REFERENCES [dbo].[CLIENTES] ([COD_CLI])
GO
ALTER TABLE [dbo].[VENTA_CABECERA] CHECK CONSTRAINT [FK_VENTA_CABECERA_CLIENTES]
GO
ALTER TABLE [dbo].[VENTA_CABECERA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_CABECERA_EMPLEADOS] FOREIGN KEY([COD_EMP])
REFERENCES [dbo].[EMPLEADOS] ([COD_EMP])
GO
ALTER TABLE [dbo].[VENTA_CABECERA] CHECK CONSTRAINT [FK_VENTA_CABECERA_EMPLEADOS]
GO
ALTER TABLE [dbo].[VENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_DETALLE_PRODUCTOS] FOREIGN KEY([COD_PRO])
REFERENCES [dbo].[PRODUCTOS] ([COD_PRO])
GO
ALTER TABLE [dbo].[VENTA_DETALLE] CHECK CONSTRAINT [FK_VENTA_DETALLE_PRODUCTOS]
GO
ALTER TABLE [dbo].[VENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_DETALLE_VENTA_CABECERA] FOREIGN KEY([COD_CABE])
REFERENCES [dbo].[VENTA_CABECERA] ([COD_CABE])
GO
ALTER TABLE [dbo].[VENTA_DETALLE] CHECK CONSTRAINT [FK_VENTA_DETALLE_VENTA_CABECERA]
GO
USE [master]
GO